# Systemowe
.DS_Store
**/.DS_Store

# Logi Suricaty
config/suricata/log/*
!config/suricata/log/.gitkeep

# Bazy danych i dane aplikacji
data/backup-grafana.db
data/init-db/**/*.sql
data/init-db/**/*.sql.gz

# Dane Kali
kali/data/.ssh/
kali/data/.bash_history
kali/data/.wpscan/
